<section class="blog">
	<div class="product-container">
		<div class="blog__title-box">
			<div class="title">Our Insights & Articles</div>
			<a class="blog__link" href="#">View All</a>
		</div>

		<ul class="blog__list">
			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__img-link" href="#">
						<img class="blog-card__img" src="images/content/blog-card/1.jpg" alt="" width="370" height="250">
					</a>

					<span class="blog-card__badge">News</span>

					<div class="blog-card__inner">
						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minimveniam</h4>
						</a>

						<div class="blog-card__box">
							<time class="blog-card__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-date"></use>
								</svg>
								28 january, 2020
							</time>

							<a class="blog-card__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-admin"></use>
								</svg>
								By admin
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__img-link" href="#">
						<img class="blog-card__img" src="images/content/blog-card/2.jpg" alt="" width="370" height="250">
					</a>

					<span class="blog-card__badge">News</span>

					<div class="blog-card__inner">
						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								etdolore</h4>
						</a>

						<div class="blog-card__box">
							<time class="blog-card__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-date"></use>
								</svg>
								28 january, 2020
							</time>

							<a class="blog-card__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-admin"></use>
								</svg>
								By admin
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__img-link" href="#">
						<img class="blog-card__img" src="images/content/blog-card/3.jpg" alt="" width="370" height="250">
					</a>

					<span class="blog-card__badge">News</span>

					<div class="blog-card__inner">
						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Rncididunt ut labore et dolore magna aliqua. Ut enim </h4>
						</a>

						<div class="blog-card__box">
							<time class="blog-card__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-date"></use>
								</svg>
								28 january, 2020
							</time>

							<a class="blog-card__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-admin"></use>
								</svg>
								By admin
							</a>
						</div>
					</div>
				</article>
			</li>
		</ul>
	</div>

	<div class="partners">
		<div class="product-container">
			<ul class="partners__list">
				<li class="partners__item">
					<img class="partners__img" src="images/partners/1.png" alt="partner logo">
				</li>

				<li class="partners__item">
					<img class="partners__img" src="images/partners/2.png" alt="partner logo">
				</li>

				<li class="partners__item">
					<img class="partners__img" src="images/partners/3.png" alt="partner logo">
				</li>

				<li class="partners__item">
					<img class="partners__img" src="images/partners/4.png" alt="partner logo">
				</li>

				<li class="partners__item">
					<img class="partners__img" src="images/partners/5.png" alt="partner logo">
				</li>

			</ul>
		</div>
	</div>
</section>