<section class="blog-list">
	<div class="product-container">
		<div class="blog-list__wrapper">
			<ul class="blog-list__content">

				<li class="blog-list__item">
					<article class="blog-card-list">
						<div class="blog-card-list__wrapper">
							<a class="blog-card-list__img-link" href="#">
								<img class="blog-card-list__img" src="images/blog/card-list/1.jpg" alt="Blog card image" width="830"
									height="501">
							</a>
							<div class="blog-card-list__box-date">
								<time class="date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>

								<a class="blog-card-list__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-admin"></use>
									</svg>
									By admin
								</a>
							</div>
						</div>

						<a class="blog-card-list__title-link" href="#">
							<h3 class="blog-card-list__title">Fonsectetur adipisicing eiusmod </h3>
						</a>

						<div class="blog-card-list__descr">
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
						</div>
						<a class="blog-card-list__btn btn btn--transparent" href="#">View More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-card-list">
						<div class="blog-card-list__wrapper">
							<a class="blog-card-list__img-link" href="#">
								<img class="blog-card-list__img" src="images/blog/card-list/2.jpg" alt="Blog card image" width="830"
									height="501">
							</a>
							<div class="blog-card-list__box-date">
								<time class="date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>

								<a class="blog-card-list__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-admin"></use>
									</svg>
									By admin
								</a>
							</div>
						</div>

						<a class="blog-card-list__title-link" href="#">
							<h3 class="blog-card-list__title">Fonsectetur adipisicing eiusmod </h3>
						</a>
						<div class="blog-card-list__descr">
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
						</div>
						<a class="blog-card-list__btn btn btn--transparent" href="#">View More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-card-list">
						<div class="blog-card-list__wrapper">
							<a class="blog-card-list__img-link" href="#">
								<img class="blog-card-list__img" src="images/blog/card-list/3.jpg" alt="Blog card image" width="830"
									height="501">
							</a>
							<div class="blog-card-list__box-date">
								<time class="date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>

								<a class="blog-card-list__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-admin"></use>
									</svg>
									By admin
								</a>
							</div>
						</div>

						<a class="blog-card-list__title-link" href="#">
							<h3 class="blog-card-list__title">Fonsectetur adipisicing eiusmod </h3>
						</a>
						<div class="blog-card-list__descr">
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
						</div>
						<a class="blog-card-list__btn btn btn--transparent" href="#">View More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-card-list">
						<div class="blog-card-list__wrapper">
							<a class="blog-card-list__img-link" href="#">
								<img class="blog-card-list__img" src="images/blog/card-list/4.jpg" alt="Blog card image" width="830"
									height="501">
							</a>
							<div class="blog-card-list__box-date">
								<time class="date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>

								<a class="blog-card-list__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-admin"></use>
									</svg>
									By admin
								</a>
							</div>
						</div>

						<a class="blog-card-list__title-link" href="#">
							<h3 class="blog-card-list__title">Fonsectetur adipisicing eiusmod </h3>
						</a>
						<div class="blog-card-list__descr">
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
						</div>
						<a class="blog-card-list__btn btn btn--transparent" href="#">View More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</article>
				</li>
			</ul>

			<aside class="blog-list__aside filter">
				<div class="blog-list__search">
					<form class="search-form">
						<input class="search-form__input" type="text">
						<button class="search-form__btn" type="submit">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-aside"></use>
							</svg>
						</button>
					</form>
				</div>

				<div class="filter-category filter__item">
					<h3 class="filter__title">Category</h3>
					<form class="filter-category__form" action="#">
						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox" checked="">
							<div class="filter-category__checkbox">
								<span>Chair</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Table</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Lamp</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Watch</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Hot Dresses</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Clock</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>
					</form>
				</div>

				<div class="recent-post">
					<h3 class="recent-post__title">Recent Posts</h3>
					<ul class="recent-post__list">
						<li class="recent-post__item">

							<img class="recent-post__img" src="images/blog/recent/1.jpg" alt="post image" width="72" height="72">
							<div class="recent-post__box">
								<h4 class="recent-post__box-title">Corem ipsum dolor tetur adipisicing elit</h4>
								<time class="date recent-post__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>
							</div>
						</li>

						<li class="recent-post__item">

							<img class="recent-post__img" src="images/blog/recent/2.jpg" alt="post image" width="72" height="72">
							<div class="recent-post__box">
								<h4 class="recent-post__box-title">Fdipisicing elit, sed do eiusmod tempor</h4>
								<time class="date recent-post__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>
							</div>
						</li>

						<li class="recent-post__item">

							<img class="recent-post__img" src="images/blog/recent/3.jpg" alt="post image" width="72" height="72">
							<div class="recent-post__box">
								<h4 class="recent-post__box-title">Eonsectetur adipisicing elit, sed do eiusmod </h4>
								<time class="date recent-post__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>
							</div>
						</li>

						<li class="recent-post__item">

							<img class="recent-post__img" src="images/blog/recent/4.jpg" alt="post image" width="72" height="72">
							<div class="recent-post__box">
								<h4 class="recent-post__box-title">gnim ad minim veniam, quis nostrud </h4>
								<time class="date recent-post__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-date"></use>
									</svg>
									28 january, 2020
								</time>
							</div>
						</li>

					</ul>
				</div>
			</aside>
		</div>

		<div class="blog-list__pagination pagination">
			<ul class="pagination__list">
				<li class="pagination__item">
					<a class="pagination__link  pagination__link--active" href="#">
						1
					</a>
				</li>

				<li class="pagination__item">
					<a class="pagination__link" href="#">
						2
					</a>
				</li>

				<li class="pagination__item">
					<a class="pagination__link" href="#">
						3
					</a>
				</li>
			</ul>

			<a class="pagination__next" href="#">Next</a>
		</div>
	</div>
</section>