<section class="contacts">
	<div class="product-container">
		<h2 class="contacts__subtitle">Write Here</h2>
		<h1 class="contacts__title title">Get In Touch</h1>

		<ul class="contacts-list">
			<li class="contacts-list__item">
				<div class="contacts-list__icon-box">
					<svg>
						<use xlink:href="images/sprite.svg#icon-location"></use>
					</svg>
				</div>
				<div class="contacts-list__name">Address</div>
				<adress class="contacts-list__adress">
					2416 Mapleview Drive <br>
					Tampa, FL 33634
				</adress>
			</li>

			<li class="contacts-list__item">
				<div class="contacts-list__icon-box">
					<svg>
						<use xlink:href="images/sprite.svg#icon-email"></use>
					</svg>
				</div>
				<div class="contacts-list__name">Our Email</div>
				<span>Main Email :</span><a class="contacts__link" href="mailto:contact@website.com">contact@website.com</a>
				<span>Inquiries :</span><a class="contacts__link" href="mailto:info@mail.com">Info@mail.com</a>
			</li>

			<li class="contacts-list__item">
				<div class="contacts-list__icon-box">
					<svg>
						<use xlink:href="images/sprite.svg#icon-phone"></use>
					</svg>
				</div>
				<div class="contacts-list__name">Our Phone</div>
				<span>Office Telephone :</span><a class="contacts__link" href="tel:+0029129102320">0029129102320</a>
				<span>Mobile :</span><a class="contacts__link" href="tel:+000232439493">000 2324 39493</a>
			</li>

		</ul>
	</div>
</section>