<section class="design" data-ref="container-2">
	<div class="product-container">
		<h3 class="design__title title">New Design</h3>
		<ul class="design__filter filter-mix">
			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter="all" type="button">
					All
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".furnitures" type="button">
					Furnitures
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".chairs" type="button">
					Chairs
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".lighting" type="button">
					Lighting
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".decor" type="button">
					Decor
				</button>
			</li>
		</ul>

		<ul class="design__list">
			<li class="design__item mix furnitures">
				<article class="design-card" style="background-image: url('images/content/design-card/1.jpg')">
					<h4 class="design-card__title">Beat Flat Pendant Black</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

			<li class="design__item mix chairs">
				<article class="design-card" style="background-image: url('images/content/design-card/2.jpg')">
					<h4 class="design-card__title">Lampe Sur Pieds Bamboo</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

			<li class="design__item mix decor">
				<article class="design-card" style="background-image: url('images/content/design-card/3.jpg')">
					<h4 class="design-card__title">Rattan Rocking Chair</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

			<li class="design__item mix furnitures">
				<article class="design-card" style="background-image: url('images/content/design-card/4.jpg')">
					<h4 class="design-card__title">Rattan Rocking Chair</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

			<li class="design__item mix decor">
				<article class="design-card" style="background-image: url('images/content/design-card/5.jpg')">
					<h4 class="design-card__title">Rattan Rocking Chair</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

			<li class="design__item mix chairs">
				<article class="design-card" style="background-image: url('images/content/design-card/6.jpg')">
					<h4 class="design-card__title">Lampe Sur Pieds Bamboo</h4>
					<span class="design-card__type">Classic</span>
					<a class="design-card__link" href="#"></a>
				</article>
			</li>

		</ul>
	</div>
</section>