<header class="header">
	<div class="container">
		<nav class="header__nav">

			<a class="logo" href="">
				<img class="logo__img" src="images/logo.png" alt="logo" width="146" height="39">
			</a>

			<ul class="header__menu menu">
				<li class="menu__item">
					<a class="menu__link" href="index.html">
						Home +
					</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="about-us.html">
						About
					</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="shop.html">
						Services
					</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#">
						Pages +
					</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="blog-list.html">
						News
					</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#">
						Contact
					</a>
				</li>
			</ul>


			<div class="user-wrapper">
				<button class="btn-circle btn-circle--search user-wrapper__item" type="button">
					<svg>
						<use xlink:href="images/sprite.svg#icon-search"></use>
					</svg>
					<span class="sr-only">Поиск на сайте</span>
				</button>

				<ul class="user-nav user-wrapper__item">
					<li class="user--nav__item">
						<a class="user-nav__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart"></use>
							</svg>
							<span class="user-nav__num">3</span>
						</a>
						<span class="sr-only">Избранные товары</span>
					</li>

					<li class="user--nav__item">
						<a class="user-nav__link user-nav__link--line" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart"></use>
							</svg>
							<span class="user-nav__num">7</span>
						</a>
						<span class="sr-only">Корзина товаров</span>
					</li>
				</ul>

				<button class="btn-circle btn-circle--menu user-wrapper__item" type="button">
					<svg>
						<use xlink:href="images/sprite.svg#icon-dots"></use>
					</svg>
					<span class="sr-only">Меню</span>
				</button>
			</div>

		</nav>
	</div>
</header>