<section class="breadcrumbs-block">
	<div class="container">
		<h1 class="breadcrumbs-block__title">Log in</h1>

		<div class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a class="breadcrumbs__link" href="#">Home</a>
				</li>

				<li class="breadcrumbs__item">
					<a class="breadcrumbs__link" href="#">Log in</a>
				</li>
			</ul>
		</div>

	</div>
</section>

<form class="login-form" action="form" method="GET" enctype="multipart/form-data">
	<label class="login-form__label" for="username">
		Username or email address *
		<input class="login-form__input" type="text" required>
	</label>

	<label class="login-form__label" for="password">
		Password *
		<input class="login-form__input" type="password" required>
	</label>

	<button class="login-form__btn btn">Login</button>

	<div class="login-form__box">
		<label class="login-form__label" for="password">
			<input type="checkbox">
			Remember me
		</label>

		<a class="login-form__link-password" href="#">Lost your password?</a>
	</div>

	<span class="login-form__text">Not registered? No problem</span>

	<a class="login-form__link-create btn btn--transparent" href="#">Create an account</a>
</form>