<section class="main-slider">
  <div class="container">
    <div class="main-slider__wrapper">

      <div class="main-slider__item">
        <div class="main-slider__inner">
          <h2 class="main-slider__title">Smart and
            trendy</h2>
          <div class="main-slider__text">
            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
          <a class="btn btn--main-slider" href="#">Shop Now</a>
        </div>

        <img class="main-slider__img" src="images/main-slider/image-1.png" alt="slide image" width="755" height="634">
      </div>

      <div class="main-slider__item">
        <div class="main-slider__inner">
          <h2 class="main-slider__title">Smart and
            trendy</h2>
          <div class="main-slider__text">
            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
          <a class="btn btn--main-slider" href="#">Shop Now</a>
        </div>

        <img class="main-slider__img" src="images/main-slider/image-1.png" alt="slide image" width="755" height="634">
      </div>

      <div class="main-slider__item">
        <div class="main-slider__inner">
          <h2 class="main-slider__title">Smart and
            trendy</h2>
          <div class="main-slider__text">
            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
          <a class="btn btn--main-slider" href="#">Shop Now</a>
        </div>

        <img class="main-slider__img" src="images/main-slider/image-1.png" alt="slide image" width="755" height="634">
      </div>

    </div>
  </div>
</section>