<section class="product-page">
	<div class="product-container">
		<div class="product-one">
			<div class="product-one__wrapper">
				<div class="product-one__slider">
					<div class="product-one__slide product-slide">
						<ul class="product-slide__thumb">
							<li class="product-slide__thumb-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>

							<li class="product-slide__thumb-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>

							<li class="product-slide__thumb-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>
						</ul>

						<ul class="product-slide__big">
							<li class="product-slide__big-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>

							<li class="product-slide__big-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>

							<li class="product-slide__big-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>

							<li class="product-slide__big-item">
								<img src="images/content/product-page/1.jpg" alt="Product">
							</li>
						</ul>
					</div>
				</div>

				<div class="product-one__content">
					<h2 class="product-one__title">Pendant lamp</h2>
					<span class="star" data-rateyo-rating="4"></span>
					<span class="product-one__price">23$</span>
					<div class="product-one__descr">
						<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					</div>

					<input class="product-one__stepper stepper" type="number" value="1" min="1">
					<button class="product-one__btn btn btn--tab" type="submit">Add to cart</button>

					<div class="product-one__info product-info">
						<ul class="product-info__list">
							<li class="product-info__item">
								<span class="product-info__title">SKU:</span>
								<span class="product-info__text">014</span>
							</li>

							<li class="product-info__item">
								<span class="product-info__title">Category:</span>
								<span class="product-info__text">Lights</span>
							</li>

							<li class="product-info__item">
								<span class="product-info__title">Tag:</span>
								<span class="product-info__text">Decorative</span>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="product-one__tabs tabs">
				<div class="tabs__top">
					<div class="tabs__top-item tabs__top-item--active btn btn--tab" href="#tab-1">Description</div>
					<div class="tabs__top-item btn btn--tab" href="#tab-2">Additional information</div>
					<div class="tabs__top-item btn btn--tab" href="#tab-3">Reviews <span>(2)</span></div>
				</div>

				<div class="tabs__content">
					<div class="tabs__content-item tabs__content-item--active" id="tab-1">
						<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor
							sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
					</div>
					<div class="tabs__content-item" id="tab-2">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, ducimus magnam reprehenderit, beatae
							natus, obcaecati modi cupiditate eaque quas accusamus sed quaerat alias. Quaerat sapiente odit
							necessitatibus! Consequuntur illo laudantium in a saepe dolor, tenetur aliquid, itaque quo, possimus sit
							nemo voluptatum aperiam sed? Inventore architecto iure dolor consequuntur, aliquid, corrupti non mollitia
							vel iusto in, earum ullam consectetur molestias perspiciatis. Ab, numquam blanditiis?</p>
					</div>
					<div class="tabs__content-item" id="tab-3">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, suscipit?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>