<section class="promo">
	<div class="product-container">
		<div class="promo__wrapper">
			<img class="promo__img" src="images/backgrounds/about-us-bg.jpg" alt="Man with notebook" width="570" height="676">

			<div class="promo__box">
				<div class="promo__top-inner">
					<span class="promo__years">12</span>
					<span class="promo__words">Years<br>Experience<br>Working</span>
				</div>

				<h2 class="promo__title title">Mission of our creative house</h2>

				<div class="promo__text">
					<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
						irure dolor in reprehenderit in voluptate velit esse cillum</p>
				</div>

				<ul class="promo__list">
					<li class="promo__item promo__item--write-icon">
						520+
						<span class="promo__item-name">Projects</span>
					</li>

					<li class="promo__item promo__item--mouthpiece-icon">
						$4M
						<span class="promo__item-name">Revenue</span>
					</li>

					<li class="promo__item promo__item--medal-icon">
						250
						<span class="promo__item-name">Awards</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>