<section class="product-week" data-ref="container-1">
	<div class="product-container">
		<h3 class="title">Products of the week</h3>

		<ul class="filter-mix product-week__filter">
			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter="all" type="button">
					All
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".furnitures" type="button">
					Furnitures
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".chairs" type="button">
					Chairs
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".lighting" type="button">
					Lighting
				</button>
			</li>

			<li class="filter-mix__item">
				<button class="filter-mix__btn" data-filter=".decor" type="button">
					Decor
				</button>
			</li>
		</ul>

		<ul class="product-week__wrapper">
			<li class="product-week__item mix lighting">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-1.jpg" width="186" height="195" alt="">
					<h4 class="product-card__title">Wooden radio</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix decor">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-2.jpg" width="148" height="206" alt="">
					<h4 class="product-card__title">Wooden chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix lighting">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-3.jpg" width="208" height="164" alt="">
					<h4 class="product-card__title">White chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix chairs">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-4.jpg" width="224" height="135" alt="">
					<h4 class="product-card__title">Retro table</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix chairs">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-5.jpg" width="236" height="162" alt="">
					<h4 class="product-card__title">Wooden radio</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix lighting">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-6.jpg" width="230" height="170" alt="">
					<h4 class="product-card__title">Wooden chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix lighting">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-7.jpg" width="232" height="167" alt="">
					<h4 class="product-card__title">White chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="product-week__item mix furnitures">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-8.jpg" width="238" height="153" alt="">
					<h4 class="product-card__title">Retro table</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

		</ul>
	</div>
</section>