<section class="related-products">
	<div class="product-container">
		<h2 class="related-products__title title">Related products</h2>
		<ul class="related-products__list">
			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-1.jpg" width="186" height="195" alt="">
					<h4 class="product-card__title">Wooden radio</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-2.jpg" width="148" height="206" alt="">
					<h4 class="product-card__title">Wooden chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-3.jpg" width="208" height="164" alt="">
					<h4 class="product-card__title">White chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-4.jpg" width="224" height="135" alt="">
					<h4 class="product-card__title">Retro table</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-5.jpg" width="236" height="162" alt="">
					<h4 class="product-card__title">Wooden radio</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="related-products__item">
				<article class="product-card">
					<img class="product-card__img" src="images/content/products/product-6.jpg" width="230" height="170" alt="">
					<h4 class="product-card__title">Wooden chair</h4>
					<span class="product-card__price">$29.00</span>
					<div class="product-card__link-box">
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-search-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-cart-product"></use>
							</svg>
						</a>
						<a class="product-card__link" href="#">
							<svg>
								<use xlink:href="images/sprite.svg#icon-heart-product"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>