<section class="shop">
	<div class="product-container">
		<div class="shop__wrapper">

			<div class="shop__filters filter">

				<div class="filter-category filter__item">
					<h3 class="filter__title">Category</h3>
					<form class="filter-category__form" action="#">
						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox" checked>
							<div class="filter-category__checkbox">
								<span>Chair</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Table</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Lamp</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Watch</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Hot Dresses</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Clock</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>
				</div>

				<div class="filter-price filter__item">
					<h3 class="filter__title">Price</h3>
					<form class="filter-price__form" action="#">
						<input class="filter-price__input" type="text" data-min="0" data-max="999.00" data-from="100.00"
							data-to="500.00">
						<lablel class="filter-price__label">
							<span class="filter-price__from-wrapper">
								$<span class="filter-price__from"></span>
							</span>

							<span class="filter-price__to-wrapper">
								$<span class="filter-price__to"></span>
							</span>
						</lablel>
					</form>
				</div>

				<div class="filter-brand filter__item">
					<h3 class="filter__title">Brand</h3>
					<form class="filter-brand__form" action="#">
						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox" checked>
							<div class="filter-brand__checkbox">
								<span>RFL</span>
								<span>(10)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Brothers</span>
								<span>(21)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Regal</span>
								<span>(3)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Nadia</span>
								<span>(14)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Otobi</span>
								<span>(6)</span>
							</div>
						</label>
				</div>

				<div class="recent-products">
					<h3 class="filter__title">Recent products</h3>
					<ul class="recent-products__list">
						<li class="recent-products__item">
							<article class="recent-product-card">
								<a class="recent-product-card__link" href="#">
									<div class="recent-product-card__wrapper">
										<div class="recent-product-card__img-box">
											<img class="recent-product-card__img" src="images/content/recent-product/1.jpg" alt="lamp">
										</div>

										<div class="recent-product-card__box">
											<h4 class="recent-product-card__title">Pendant lamp</h4>
											<span class="recent-product-card__star star" data-rateyo-rating="4"></span>
											<span class="recent-product-card__price">23$</span>
										</div>
									</div>

								</a>
							</article>
						</li>

						<li class="recent-products__item">
							<article class="recent-product-card">
								<a class="recent-product-card__link" href="#">
									<div class="recent-product-card__wrapper">
										<div class="recent-product-card__img-box">
											<img class="recent-product-card__img" src="images/content/recent-product/2.jpg" alt="lamp">
										</div>

										<div class="recent-product-card__box">
											<h4 class="recent-product-card__title">Pendant lamp</h4>
											<span class="recent-product-card__star star" data-rateyo-rating="4"></span>
											<span class="recent-product-card__price">23$</span>
										</div>
									</div>

								</a>
							</article>
						</li>

						<li class="recent-products__item">
							<article class="recent-product-card">
								<a class="recent-product-card__link" href="#">
									<div class="recent-product-card__wrapper">
										<div class="recent-product-card__img-box">
											<img class="recent-product-card__img" src="images/content/recent-product/3.jpg" alt="lamp">
										</div>

										<div class="recent-product-card__box">
											<h4 class="recent-product-card__title">Pendant lamp</h4>
											<span class="recent-product-card__star star" data-rateyo-rating="5"></span>
											<span class="recent-product-card__price">23$</span>
										</div>
									</div>

								</a>
							</article>
						</li>

					</ul>

				</div>
			</div>

			<div class="shop-content">
				<div class="shop-content__btns">
					View
					<button class="shop-content__btn shop-content__btn--active btn-grid" type="button">
						<svg class="grid">
							<use xlink:href="images/sprite.svg#icon-grid"></use>
						</svg>
					</button>

					<button class="shop-content__btn btn-list" type="button">
						<svg class="list">
							<use xlink:href="images/sprite.svg#icon-list"></use>
						</svg>
					</button>
				</div>

				<ul class="shop-content__product-list">

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="shop-content__item">
						<article class="product-card">
							<div class="product-card__wrapper">
								<div class="product-card__img-box">
									<img class="product-card__img" src="images/content/products/product-1.jpg" alt="chair">
								</div>

								<div class="product-card__box">
									<h4 class="product-card__title">Wooden radio</h4>
									<span class="star" data-rateyo-rating="4"></span>
									<span class="product-card__price">$29.00</span>
									<span class="product-card__price-list">29$</span>
									<div class="product-card__descr">
										<p>
											consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut
											enim ad minim veniam, quis nostrud exercitation
										</p>
									</div>
									<button class="btn btn--shop">Add to cart</button>
								</div>

							</div>


							<div class="product-card__link-box">
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-search-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-cart-product"></use>
									</svg>
								</a>
								<a class="product-card__link" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-heart-product"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>
				</ul>

				<div class="shop-content__pagination pagination">
					<ul class="pagination__list">
						<li class="pagination__item">
							<a class="pagination__link  pagination__link--active" href="#">
								1
							</a>
						</li>

						<li class="pagination__item">
							<a class="pagination__link" href="#">
								2
							</a>
						</li>

						<li class="pagination__item">
							<a class="pagination__link" href="#">
								3
							</a>
						</li>
					</ul>

					<a class="pagination__next" href="#">Next</a>
				</div>
			</div>
		</div>
	</div>
</section>