<section class="shop">
	<div class="product-container">
		<div class="shop__wrapper">

			<div class="shop__filters filter">

				<div class="filter-category filter__item">
					<h3 class="filter__title">Category</h3>
					<form class="filter-category__form" action="#">
						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox" checked>
							<div class="filter-category__checkbox">
								<span>Chair</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Table</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Lamp</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Watch</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Hot Dresses</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Clock</span>
								<svg>
									<use xlink:href="images/sprite.svg#icon-arrow-small"></use>
								</svg>
							</div>
						</label>
				</div>

				<div class="filter-price filter__item">
					<h3 class="filter__title">Price</h3>
					<form class="filter-price__form" action="#">
						<input class="filter-price__input" type="text" data-min="0" data-max="999.00" data-from="100.00"
							data-to="500.00">
						<lablel class="filter-price__label">
							<span class="filter-price__from-wrapper">
								$<span class="filter-price__from"></span>
							</span>

							<span class="filter-price__to-wrapper">
								$<span class="filter-price__to"></span>
							</span>
						</lablel>
					</form>
				</div>

				<div class="filter-brand filter__item">
					<h3 class="filter__title">Category</h3>
					<form class="filter-brand__form" action="#">
						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox" checked>
							<div class="filter-brand__checkbox">
								<span>RFL</span>
								<span>(10)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Brothers</span>
								<span>(21)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Regal</span>
								<span>(3)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Nadia</span>
								<span>(14)</span>
							</div>
						</label>

						<label class="filter-brand__label">
							<input class="filter-brand__input checkbox-hidden" type="checkbox">
							<div class="filter-brand__checkbox">
								<span>Otobi</span>
								<span>(6)</span>
							</div>
						</label>
				</div>
			</div>

			<div class="shop-content">
			</div>
		</div>
	</div>
</section>