<div class="statistics">
	<div class="product-container">
		<ul class="statistics__list">
			<li class="statistics__item statistics__item--monitor-icon">
				99%
				<span class="statistics__name">Satisﬁed Clients Rate</span>
			</li>

			<li class="statistics__item statistics__item--car-icon">
				5020+
				<span class="statistics__name">Products Delivered</span>
			</li>

			<li class="statistics__item statistics__item--phone-icon">
				23hr
				<span class="statistics__name">Daily Working Time</span>
			</li>

			<li class="statistics__item statistics__item--medal-icon">
				140+
				<span class="statistics__name">Brands in Store</span>
			</li>
		</ul>
	</div>
</div>