<section class="support">
  <div class="container">

    <ul class="support__list">
      <li class="support__item support__item--icon-time">
        <h5 class="support__title">Support 24/7.</h5>
        <span class="support__text">Contact us 24 hours a day,
          7 days a week.</span>
      </li>

      <li class="support__item support__item--icon-car">
        <h5 class="support__title">Delivery.</h5>
        <span class="support__text">Free shipping on all US order.</span>
      </li>

      <li class="support__item support__item--icon-payment">
        <h5 class="support__title">100% Payment secure.</h5>
        <span class="support__text">We ensure secure payment
          with PEV.</span>
      </li>

    </ul>
  </div>
</section>