html,
body {
	height: 100%;
}

.main {
	flex-grow: 1;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	background-color: $white;
	color: $blue-300;
	font-family: Rubik-Regular;
	font-weight: 400;
}

.container {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.product-container {
	max-width: 1170px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

//PAGE ELEMENTS//
.btn {
	background-color: $blue-100;
	color: $white;
	padding: 12px 15px;
	transition: background-color 0.3s;
	border: 2px solid transparent;

	&--main-slider {
		padding: 23px 100px 23px 27px;
		font-family: Rubik-Medium;
		font-weight: 500;
		font-size: 15px;
		display: inline-block;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-image: url(../images/icons/icon-arrow.svg);
			width: 22px;
			height: 9px;
			right: 18px;
			top: 28px;
		}
	}

	&--special {
		background-color: transparent;
		border: 1px solid $blue-100;
		border-radius: 5px;
		color: $blue-300;
		font-size: 15px;
		font-family: DMSans-Medium;
		font-weight: 500;
		transition: color 0.2s, background-color 0.2s;
		width: 160px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		svg {
			fill: $blue-300;
			width: 22px;
			height: 9px;
			transition: fill 0.2s;
		}

		&:hover {
			color: $white;

			svg {
				fill: $white;
			}
		}
	}

	&--transparent {
		background-color: transparent;
		border: 2px solid $blue-100;
		color: $blue-700;
		transition: color 0.2s, background-color 0.2s;

		&:hover {
			color: $white;
			border: 2px solid $blue-300;
		}
	}

	&--team {
		border-radius: 5px;
		position: relative;
		padding: 12px 50px 12px 25px;
		font-size: 15px;
		font-family: DMSans-Medium;
		display: inline-block;

		&::after {
			content: "";
			position: absolute;
			background-image: url(../images/icons/icon-arrow-team.svg);
			width: 15px;
			height: 11px;
			right: 15px;
			top: 16px;
		}
	}

	&:hover {
		background-color: $blue-300;
	}
}

.title {
	font-family: DMSans-Bold;
	font-weight: 700;
	font-size: 36px;
	color: $blue-700;
}

.filter-mix {
	display: flex;
	justify-content: center;

	&__item:not(:last-child) {
		margin-right: 25px;
	}

	&__btn {
		font-family: DMSans-Bold;
		font-weight: 700;
		color: $grey-300;
	}
}

.mixitup-control-active {
	color: $dark;
}

.promo-block {
	padding: 30px 0;
	text-align: center;
	background-color: $blue-50;

	&__title {
		font-family: Rubik-Regular;
		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		color: $blue-850;
		margin-bottom: 15px;
	}
}

.breadcrumbs {
	display: inline-flex;
	justify-content: center;
	position: relative;

	&__list {
		display: flex;
	}

	&__item {
		padding-left: 14px;
		position: relative;

		&:not(:last-child) {
			margin-right: 7px;
		}

		&::before {
			content: "/";
			position: absolute;
			width: 9px;
			height: 10px;
			left: 0;
			top: 0;
		}

		&:first-child {
			padding-left: 0;

			&::before {
				display: none;
			}
		}
	}
}

//CARDS//
.product-card {
	height: 380px;
	box-shadow: 0px 6px 47px 3px rgba($dark-500, 0.05);
	border-radius: 10px;
	padding: 25px 15px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $white;
	position: relative;
	overflow: hidden;

	&__link-box {
		position: absolute;
		display: flex;
		justify-content: center;
		transform: translateY(500%);
		transition: transform 0.3s;
		right: 0;
		left: 0;
		top: 50%;
	}

	&:hover {
		.product-card__link-box {
			transform: translateY(0);
		}
	}

	&__link {
		width: 45px;
		height: 45px;
		background-color: $white;
		border-radius: 50%;
		transition: background-color 0.2s;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: $blue-100;

			svg {
				fill: $white;
			}
		}

		&:not(:last-child) {
			margin-right: 15px;
		}

		svg {
			width: 20px;
			height: 20px;
			fill: $blue-100;
			transition: fill 0.2s;
		}
	}

	&__img {
		margin: 0 auto;
		object-fit: contain;
		margin: auto auto 40px auto;
	}

	&__title {
		margin: auto 0 15px 0;
		font-family: DMSans-Medium;
		font-weight: 500;
	}

	&__price {
		font-family: DMSans-Bold;
		font-weight: 700;
		color: $blue-100;
	}
}

.special-card {
	display: flex;
	justify-content: space-between;
	background-color: $beige-50;
	padding: 100px 145px 100px 390px;
	position: relative;
	height: 100%;
	max-width: 870px;

	&__img {
		position: absolute;
		top: -95px;
		left: 130px;
	}

	&__title {
		font-family: DMSans-Bold;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.2;
		color: $blue-700;
		margin-bottom: 30px;
		@include line-clamp(2);
	}

	&__text {
		color: $blue-700;
		margin-bottom: 30px;
		line-height: 1.8;
		max-width: 340px;
		@include line-clamp(5);
	}
}

.design-card {
	min-height: 245px;
	width: 370px;
	padding: 45px 35px;
	border-radius: 5px 5px 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	&__title {
		max-width: 157px;
		margin-bottom: 15px;
		@include line-clamp(3);
	}

	&__type {
		color: $blue-100;
		font-family: DMSans-Bold;
	}
}

.blog-card {
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0px 6px 47px 3px rgba($dark-500, 0.05);
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&:hover {
		.blog-card__title {
			color: rgba($dark-500, 0.6);
		}
	}

	&__img {
		object-fit: cover;
	}

	&__badge {
		position: absolute;
		background-color: $blue-100;
		border-radius: 30px;
		color: $white;
		text-transform: uppercase;
		font-size: 14px;
		padding: 7px 31px;
		top: 235px;
		left: 28px;
		z-index: 2;
	}

	&__inner {
		padding: 35px 35px 25px 30px;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__title-link {
		flex: 1;
	}

	&__title {
		margin-bottom: 20px;
		font-family: DMSans-Bold;
		font-size: 18px;
		color: $dark-500;
		transition: color 0.2s;
		@include line-clamp(4);
	}

	&__box {
		font-size: 12px;
		color: $blue-800;
		text-transform: uppercase;
		display: flex;
		padding-top: 15px;
		border-top: 1px solid $grey-250;
	}

	&__date,
	&__author {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 15px;
			height: 15px;
			fill: $blue-800;
			margin-right: 5px;
		}
	}
	&__date {
		margin-right: 30px;
	}

	&__author {
		transition: color 0.2s;

		&:hover {
			color: red;
		}
	}
}

.team-card {
	width: 370px;
	height: 321px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&__box {
		width: 326px;
		background-color: $white;
		padding: 30px 20px 25px 25px;
		position: absolute;
		left: 0;
		bottom: -70px;
		box-shadow: 0px 6px 57px 0px rgba($dark-500, 0.05);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__name {
		color: $blue-300;
		font-size: 22px;
		margin-bottom: 10px;
	}

	&__post {
		color: $grey-500;
	}

	&__social-list {
		display: flex;
	}

	&__social-item {
		&:not(:last-child) {
			margin-right: 7px;
		}
	}

	&__social-link {
		width: 41px;
		height: 41px;
		background-color: $grey-100;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 23px;
			height: 20px;
			fill: $grey-400;
		}
	}
}
