//COLORS

$white: #fff;

$blue: #dae4e9;
$blue-50: #edf1f4;
$blue-100: #a3bbc8;
$blue-300: #436372;
$blue-700: #234969;
$blue-800: #243f4d;
$blue-850: #222933;
$blue-900: #1f2044;

$grey: #edf1f4;
$grey-100: #f6f6f6;
$grey-200: #e8e4df;
$grey-250: #e0e0e0;
$grey-300: #8b8b8b;
$grey-400: #7b7b7b;
$grey-500: #585858;
$grey-600: #4c4c4c;

$dark-500: #252525;
$dark: #191919;

$beige: #fef7f0;
$beige-50: #feefe2;
$beige-100: #fde7d3;
$beige-150: #fde3cc;
$beige-200: #fcd7b6;
