.blog {
	padding-top: 120px;

	@include mq("desktop", max) {
		padding-top: 80px;
	}

	&__title-box {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 45px;

		@include mq("phone", max) {
			flex-wrap: wrap;
			margin-bottom: 25px;
		}
	}

	&__link {
		font-family: DMSans-Bold;
		color: $dark-500;
		padding-right: 25px;
		position: relative;
		transition: color 0.2s;

		@include mq("phone", max) {
			margin-left: 30px;
		}

		&:hover {
			color: rgba($dark-500, 0.6);
		}

		&::after {
			content: "";
			position: absolute;
			background-image: url(../images/icons/icon-arrow-small.svg);
			background-repeat: no-repeat;
			background-position: center;
			width: 7px;
			height: 12px;
			right: 0;
			top: 4px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: -181px;

		@include mq("desktop", max) {
			margin-bottom: -188px;
		}

		@include mq("desktop", max) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		max-width: 370px;

		@include mq("desktop", max) {
			margin: 0 30px 30px 30px;
		}

		@include mq("phone", max) {
			max-width: 100%;
			margin: 0 0 30px 0;
		}
	}
}

.partners {
	background-color: $beige;
	padding: 260px 0 88px;

	@include mq("desktop-s", max) {
		padding: 200px 0 70px;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		margin: 20px 20px;
	}

	&--small {
		padding: 88px 0;
	}
}
