.header {
	padding: 50px 0;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
	}

	&__menu {
		margin-left: 180px;
	}
}

.logo {
	&__img {
		object-fit: contain;
	}
}

.menu {
	display: flex;
	align-items: center;

	@include mq("desktop-2", max) {
		position: absolute;
		background-color: $white;
		left: 0;
		right: 0;
		top: 120px;
		margin-left: 0;
		flex-direction: column;
		transform: translateY(-200%);
		transition: transform 0.4s;
		z-index: -1;
	}

	&--active {
		transform: translateY(0);
	}

	&__item {
		@include mq("desktop-2", max) {
			width: 100%;
			text-align: center;
		}
	}

	&__item:not(:last-child) {
		margin-right: 32px;

		@include mq("desktop-2", max) {
			margin-right: 0;
		}
	}

	&__link {
		font-family: Rubik-Medium;
		font-weight: 500;
		transition: color 0.2s;

		@include mq("desktop-2", max) {
			display: block;
			padding: 12px 0;
		}

		&:hover {
			color: rgba($blue-300, 0.7);
		}
	}
}

.user-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: $beige-200;
	width: 180px;
	height: 50px;
	border-radius: 30px;

	@include mq("phone", max) {
		display: none;
	}

	&__link {
		padding: 18px 25px 13px 25px;
		position: relative;
		display: inherit;

		&--line::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 32px;
			background-color: $beige-100;
			top: 10px;
			right: 75px;
		}

		svg {
			width: 20px;
			height: 20px;
			fill: $blue-300;
			margin: 0 auto;
		}
	}

	&__num {
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $white;
		line-height: 16px;
		text-align: center;
		font-size: 10px;
		top: 10px;
		right: 16px;
	}
}

.user-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: center;

	&__item:not(:last-child) {
		margin-right: 20px;
	}
}

.btn-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $grey;
	display: flex;
	align-items: center;

	svg {
		width: 16px;
		height: 16px;
		fill: $blue-300;
		margin: 0 auto;
	}

	&--search {
		@include mq("phone", max) {
			display: none;
		}

		svg {
			fill: $blue-300;
		}
	}

	&--menu {
		background-color: $blue-100;

		@include mq("desktop-2", max) {
			display: none;
		}

		svg {
			fill: $white;
		}
	}
}
