.main-slider {
	&__wrapper {
		background-color: $beige-200;
		padding-bottom: 45px;
	}

	&__inner {
		margin: 225px 0 0 300px;

		@include mq("desktop", max) {
			margin-left: 50px;
		}

		@include mq("desktop-s", max) {
			margin-top: 100px;
		}

		@include mq("tablet", max) {
			margin-top: 50px;
		}

		@include mq("phone", max) {
			margin: 50px 20px 0 20px;
		}
	}

	&__title {
		font-size: 72px;
		color: $blue-800;
		max-width: 470px;
		font-family: Rubik-Medium;
		font-weight: 500;
		margin-bottom: 40px;
		text-transform: uppercase;

		@include mq("desktop-s", max) {
			font-size: 66px;
		}

		@include mq("tablet", max) {
			font-size: 54px;
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			font-size: 28px;
		}
	}

	&__text {
		max-width: 370px;
		color: $blue-300;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 40px;

		@include mq("phone", max) {
			margin-bottom: 20px;
		}
	}

	&__item {
		display: flex !important;
		justify-content: space-between;
		z-index: -10;
	}

	&__img {
		width: 755px;
		height: 634px;
		margin: 100px 185px 22px 0;
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: contain;

		@include mq("desktop", max) {
			margin: 100px 50px 22px 0;
		}

		@include mq("desktop-s", max) {
			width: 500px;
			height: 500px;
			margin: 20px 50px 22px 0;
		}

		@include mq("tablet", max) {
			display: none !important;
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: -10px;

		@include mq("tablet", max) {
			margin-top: 25px;
		}

		li {
			margin: 0 9px;

			button {
				font-family: Rubik-Medium;
				font-weight: 500;
				background-color: $beige-150;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				line-height: 30px;
			}

			&.slick-active {
				button {
					color: $blue-800;
					background-color: $white;
				}
			}
		}
	}
}
