.promo {
	padding: 120px 0;

	@include mq("desktop-s", max) {
		padding: 80px 0;
	}

	@include mq("tablet-s", max) {
		padding: 60px 0;
	}

	@include mq("phone", max) {
		padding: 40px 0;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("desktop-s", max) {
			display: block;
		}
	}

	&__img {
		margin-right: 30px;
		object-fit: contain;

		@include mq("desktop-s", max) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}

		@include mq("tablet-s", max) {
			height: 300px;
			object-fit: cover;
		}
	}

	&__box {
		max-width: 570px;

		@include mq("desktop-s", max) {
			max-width: 100%;
		}
	}

	&__top-inner {
		display: flex;
		align-items: flex-end;
		margin-bottom: 40px;

		@include mq("desktop-s", max) {
			justify-content: center;
		}

		@include mq("tablet-s", max) {
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			justify-content: start;
		}
	}

	&__years {
		font-family: DMSans-Bold;
		font-weight: 700;
		font-size: 140px;
		line-height: 0.8;
		color: $blue-100;
		display: block;
		margin-right: 30px;

		@include mq("tablet-s", max) {
			font-size: 80px;
		}
	}

	&__words {
		display: block;
		line-height: 1.8;

		@include mq("tablet-s", max) {
			line-height: 1.4;
		}
	}

	&__title {
		margin-bottom: 20px;

		@include mq("desktop-s", max) {
			text-align: center;
		}

		@include mq("tablet-s", max) {
			font-size: 28px;
			margin-bottom: 10px;
		}

		@include mq("phone", max) {
			text-align: start;
		}
	}

	&__text {
		line-height: 1.8;
		margin-bottom: 65px;

		@include mq("desktop-s", max) {
			text-align: center;
			margin-bottom: 45px;
		}

		@include mq("phone", max) {
			text-align: start;
			margin-bottom: 25px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-top: 40px;

		@include mq("desktop-s", max) {
			justify-content: center;
		}

		@include mq("tablet-s", max) {
			padding-top: 0;
		}

		@include mq("phone", max) {
			display: block;
		}

		&::before {
			content: "";
			position: absolute;
			width: 500px;
			height: 3px;
			display: block;
			background-color: $grey-100;
			top: 0;
			left: 15px;

			@include mq("desktop-s", max) {
				left: 50%;
				transform: translateX(-50%);
			}

			@include mq("tablet-s", max) {
				display: none;
			}
		}
	}

	&__item {
		width: 170px;
		padding-left: 70px;
		font-family: DMSans-Bold;
		font-weight: 700;
		font-size: 36px;
		line-height: 0.7;
		color: $blue-800;
		position: relative;

		@include mq("tablet-s", max) {
			font-size: 26px;

			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 15px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@include mq("tablet-s", max) {
				top: 0;
			}
		}

		&--write-icon::before {
			background-image: url(../images/icons/icon-write.svg);
			width: 36px;
			height: 37px;
		}

		&--mouthpiece-icon::before {
			background-image: url(../images/icons/icon-mouthpiece.svg);
			width: 43px;
			height: 39px;
		}

		&--medal-icon::before {
			background-image: url(../images/icons/icon-medal.svg);
			width: 41px;
			height: 40px;
		}

		&:nth-child(1)::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 80px;
			display: block;
			background-color: $grey-100;
			top: -15px;
			right: -20px;

			@include mq("tablet-s", max) {
				display: none;
			}
		}

		&:nth-child(3)::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 80px;
			display: block;
			background-color: $grey-100;
			top: -15px;
			left: -20px;

			@include mq("tablet-s", max) {
				display: none;
			}
		}

		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__item-name {
		font-size: 16px;
		color: $grey-600;
	}
}
