.terms {
	padding-top: 120px;
	line-height: 1.8;

	&__title {
		font-family: Rubik-Medium;
		font-weight: 500;
		font-size: 24px;
		color: $blue-800;
		margin-bottom: 30px;
	}

	&__list {
		margin-bottom: 60px;
	}

	&__item {
		list-style-type: decimal-leading-zero;
		list-style-position: inside;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}
