.video-popup {
	position: relative;
	color: #fff;

	&__img {
		background-repeat: no-repeat;
		object-fit: cover;
		background-position: center center;

		@include mq("tablet", max) {
			height: 250px;
		}

		@include mq("phone", max) {
			height: 200px;
		}
	}

	&__link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.2) translate(-43%, -50%);
		}
	}

	&__img-btn {
		@include mq("phone", max) {
			width: 70px;
			height: 70px;
		}
	}
}
